
<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
</head>
<body >
    <style>


    </style>

    <div id = "carouselwithIndicators" class = "carousel slide" data-ride = "carousel">
        <div class="carousel-cell1 carousel-inner">
          
            <div class="bg_image carousel-item active">
                <div class="home_h" style="font-family: 'Allura', sans-serif; font-size: 75px;">Welcome to Jugal's Store.</div> 
                <div class="home_sh" style="font-family: 'Allura', sans-serif; font-size: 50px; opacity: 75%;" >The brand offers trendy designs. </div>

                <div class="container div_b" >
        <!-- <img src ="src/app/Navigation/image.jpg"> -->
    
                    <button routerLink="/shirt" class="btn btn-secondary" style="margin-bottom: 20px; font-family:cursive; background-color: #43464b;">Shop for shirts</button> <br>
                    <button routerLink="/pant" class="btn btn-secondary" style="margin-bottom: 20px; font-family:cursive; background-color: #43464b">Shop for Pants</button> <br>
                    <button routerLink="/watch" class="btn btn-secondary" style="margin-bottom: 20px; font-family:cursive; background-color: #43464b">Shop for Watches</button> 
                </div>
            
            </div>
          
          
            <div class="bg_image1 carousel-item">
                <div class="home_h" style="font-family: 'Allura', sans-serif;">Welcome to Jugal's Store.</div> 
                <div class="home_sh" style="font-family: 'Allura', sans-serif;">The brand offers trendy designs. </div>

                <div class="container div_b" >
        <!-- <img src ="src/app/Navigation/image.jpg"> -->
    
                    <button routerLink="/shirt" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for shirts</button> <br>
                    <button routerLink="/pant" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for Pants</button> <br>
                    <button routerLink="/watch" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for Watches</button> 
                </div>
            
            </div>
            
          
          
            <div  class="bg_image2 carousel-item" >
                <div class="home_h">Welcome to Jugal's Store.</div> 
                <div class="home_sh">The brand offers trendy designs. </div>

                <div class="container div_b" >
        <!-- <img src ="src/app/Navigation/image.jpg"> -->
    
                    <button routerLink="/shirt" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for shirts</button> <br>
                    <button routerLink="/pant" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for Pants</button> <br>
                    <button routerLink="/watch" class="btn btn-secondary" style="margin-bottom: 20px; background-color: #43464b">Shop for Watches</button> 
                </div>
            
            </div>
          
        </div>
      </div>



    <!-- <div class="home_h">Welcome to Jugal's Store.</div> 
    <div class="home_sh">The brand offers trendy designs. </div>

    <div class="container div_b" >
        <img src ="src/app/Navigation/image.jpg">
    
    <button routerLink="/shirt" class="btn btn-secondary" style="margin-bottom: 20px;">Shop for shirts</button> <br>
    <button routerLink="/pant" class="btn btn-secondary" style="margin-bottom: 20px;">Shop for Pants</button> <br>
    <button routerLink="/watch" class="btn btn-secondary" style="margin-bottom: 20px;">Shop for Watches</button> 
    </div> -->
</body>
</html>